{% extends 'base.html' %}

{% block container %}

<main class="container">
    <h1 class="h3 my-4">Корзина</h1>

    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a
            href="{{ url_for('view_login') }}">войдите</a>
        или <a href="{{ url_for('view_register') }}">зарегистрируйтесь</a></div>

    <div class="row mt-5">

        <div class="col-4">
            <form action="/cart/" method="POST">
                {{ form.hidden_tag() }}
                <h4 class="">Ваши данные</h4>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.name.label }}
                        {% if form.name.errors %}
                            {{ form.name(class_="invalid", placeholder="Имя") }}
                            {% for err in form.name.errors %}
                                <p class="alert-warning">{{ err }}</p>
                            {% endfor %}
                        {% else %}
                            {{ form.name(class_="font-weight-bold form-control", placeholder="Имя") }}
                        {% endif %}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.address.label }}
                        {% if form.address.errors %}
                            {{ form.address(class_="invalid", placeholder="Адрес") }}
                            {% for err in form.address.errors %}
                                <p class="alert-warning">{{ err }}</p>
                            {% endfor %}
                        {% else %}
                            {{ form.address(class_="font-weight-bold form-control", placeholder="Адрес") }}
                        {% endif %}
                    </div>
                </div>
                <div class="md-4 form-label-group">
                        {{ form.phone.label }}
                        {% if form.phone.errors %}
                            {{ form.phone(class_="invalid", placeholder="Электропочта") }}
                            {% for err in form.phone.errors %}
                                <p class="alert-warning">{{ err }}</p>
                            {% endfor %}
                        {% else %}
                            {{ form.phone(class_="font-weight-bold form-control", placeholder="Телефон") }}
                        {% endif %}
                </div>
                <div class=" md-4 order-md-1">

                </div>
                <input type="hidden" value="875" name="order_summ">
                <input type="hidden" value="[1,3,4]" name="order_cart">
                {{ form.submit(class_="mt-3 mb-5 btn btn-danger") }}
            </form>
        </div>
    </div>

    <div class="col-1"></div>
    <div class="col-7">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h4 class="mb-3 col-7 mb-5">{{ dishes|length }} блюда в корзине</h4>
        <table class="table">
            <tbody>
            {% for dish in dishes %}
            <tr>
                <th scope="row">{{ dish.title }}</th>
                <td></td>
                <td>1</td>
                <td>{{ dish.price }}</td>
                <td><a class="text-danger" href="{{ url_for('view_delfromcart', dish_id=dish.id) }}">Удалить</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{{ total }} руб</p>
    </div>
    </div>
</main>

{% endblock %}